predictImgs
U.S.-Coins-Dataset---A.Tatham-5
Aisin-Gear-Inspection-Dataset
GearInspection-Dataset
GearInspection-Dataset2
runs
logs
checkpoint
checkpoints
checkpoint_old
AGIExperiment
AGIExperiment2
AGILogs
hit-uav
hituav-a-highaltitude-infrared-thermal-dataset.zip
GroundingDINO
weights
data
aisin_data_v2